* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

.contaniner {
    display: flex;

}

.left {
    margin-left: 10vw;
}


.quatepattern {
    position: absolute;
    top: 50%;
    margin-left: 16vh;
    transform: translateY(-200%);
}

.quatepatimg {
    height: 15vh;
    width: auto;
}

.qoute {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Inter";
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 6.5vh;
    color: hsl(240, 38%, 20%);
    z-index: 999;
}

.qoute h6 {
    margin-top: 5vh;
    color: hsl(240, 18%, 77%);
}

.qoute span {
    color: black;
}


.right {
    margin-left: 40vw;
}

.backgroundimage {
    height: 80vh;
    width: auto;
    transform: translateY(11px);
}

.tanyaimg {
    height: 70vh;
    width: auto;
    margin-top: 8vh;
    transform: translateY(-80vh);
    z-index: 5;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    width: 8vw;

    background-color: rgb(255, 255, 255);
    margin-left: 2.5vw;
    border-radius: 20px;
      transform: translateY(-85vh);
      gap: 4vw;
      cursor: pointer;
    

}

.workbtn{
    border: none;
    background: none;
}


.coding-bootcamp-section {
    display: none;
}

.coding-bootcamp-section-active {
    display: block;
}